
.qr-container {
    width: 325px;
    height: 500px;
    border-radius: 1em;
    background: white;
    padding:1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.qr-code {
    overflow: hidden;
    width: 300px;
    aspect-ratio: 1;
    border-radius: 1em;
}

.qr-title {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.25em;
    margin: 1em 0;
    color: hsl(218, 44%, 22%);
}

.qr-paragraph {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}